:root {
    --about-contact: black;
}

#about {
    font-family: 'Playpen Sans', cursive;
}

.about-contact {
    text-decoration: underline;
    color: var(--about-contact);
    cursor: pointer;
    font-weight: bolder;
}