:root {
    --about-contact: black;
}

#about {
    font-family: 'Playpen Sans', cursive;
}

.about-desc,
.key-features-title,
.key-features {
    font-size: 17px;
}

.about-contact {
    text-decoration: underline;
    color: var(--about-contact);
    cursor: pointer;
    font-weight: bolder;
}

@media screen and (max-width: 768px) {
    .barn-exterior-img {
        margin-bottom: 2rem;
        padding-left: 10rem;
    }

    .key-features-title {
        margin-left: 10rem;
    }

    .key-features {
        width: 100vw;
    }

    .indoor div {
        margin-left: -5rem;
        width: 60vw !important;
        margin-bottom: 2rem;
    }

    .outdoor div {
        margin-left: -5rem;
        width: 60vw !important;
    }
}

@media screen and (max-width: 425px) {
    .barn-exterior-img {
        margin-bottom: 2rem;
        margin-left: 1rem;
    }

    .about-desc {
        text-align: center;
    }

    .key-features-title {
        margin-left: auto;
        padding: 0;
    }

    .key-features-title p {
        padding: 0;
        max-width: 90vw;
    }

    .key-features {
        max-width: 90vw;
    }

    .indoor div {
        margin-left: -1.5rem;
        width: 90vw !important;
    }

    .outdoor div {
        margin-left: -1.5rem;
        width: 90vw !important;
    }
}