:root {
    --about-contact: black;
}

.key-features {
    font-weight: bold;
}

.about-contact {
    text-decoration: underline;
    color: var(--about-contact);
    cursor: pointer;
    font-weight: bolder;
}