:root {
  --landing-header: white;
  --roller-text: hotpink;
}

.landing {
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #000000;
}

.landing-header {
  flex-grow: 1;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.main-landing {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 10rem;
  z-index: 2;
}

h1 {
  text-align: center;
  color: var(--landing-header);
  font-size: 4rem;
  background: rgba(244, 44, 224, 0.5);
  font-family: 'Playpen Sans', cursive;
}

.roller {
  height: 4.125rem;
  line-height: 4rem;
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--roller-text);
  background: rgba(0, 0, 0, 0.5);
}

.roller #rolltext {
  font-size: 3rem;
  position: absolute;
  top: 0;
  animation: slide 8s infinite;
}

@keyframes slide {
  0% {
    top: 0;
  }

  25% {
    top: -4rem;
  }

  50% {
    top: -8rem;
  }

  72.5% {
    top: -12.25rem;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    text-align: center;
    text-transform: uppercase;
    color: #F1FAEE;
    font-size: 2.125rem;
  }

  .roller {
    height: 2.6rem;
    line-height: 2.125rem;
  }

  .roller #rolltext {
    animation: slide-mob 5s infinite;
  }

  @keyframes slide-mob {
    0% {
      top: 0;
    }

    25% {
      top: -2.125rem;
    }

    50% {
      top: -4.25rem;
    }

    72.5% {
      top: -6.375rem;
    }
  }
}