:root {
    --lesson-plus: black;
}

#lessons {
    font-family: 'Playpen Sans', cursive;
}

.lesson-desc {
    font-size: 19px;
}

.meet-trainers,
.meet-our-horses {
    text-decoration: underline;
}

.question-section {
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.lesson-pricing-section,
.own-horse-section {
    padding: 5px;
    margin-bottom: 1rem;
    width: 40vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lesson-pricing,
.own-horse {
    font-size: 2rem;
    margin-bottom: 0;
    text-transform: uppercase;
}

.lesson-pricing-btn,
.own-horse-btn {
    text-decoration: none;
    font-size: 2rem;
    color: var(--lesson-plus);
}

.lesson-pricing-btn:hover,
.own-horse-btn:hover {
    color: var(--lesson-plus);
    transform: scale(1.5);
}

.lesson-prices {
    font-size: 1.3rem;
}

.trainer-info {
    margin: auto;
}

.lesson-image-container {
    border-radius: 2rem;
}

.lesson-image-container:hover .lesson-image-overlay,
.lesson-image-container:active .lesson-image-overlay {
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
}

.lesson-image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.lesson-image-caption {
    margin: 0;
}

.lesson-image-description {
    margin-top: 5px;
    font-size: 15px;
}
