:root {
    --boarding-about: hotpink;
}

.boarding-desc {
    text-align: center;
}

.boarding-about {
    text-decoration: none;
    color: var(--boarding-about);
    cursor: pointer;
}

.boarding-about-text {
    display: inline;
}

.self-text, .full-text, .training-text {
    display: inline;
    font-weight: bold;
}

.self-care {
    font-weight: bolder;
}

.full-care {
    font-weight: bolder;
}

.training-care {
    font-weight: bolder;
}

.boarding-contact {
    text-decoration: none;
    color: var(--boarding-about);
    cursor: pointer;
}