:root {
    --links-text: black;
}

#boarding {
    font-family: 'Playpen Sans', cursive;
}

.boarding-desc {
    text-align: center;
    font-size: 22px;
}

.boarding-about {
    color: var(--links-text);
    cursor: pointer;
    font-weight: bolder;
}

.boarding-about-text {
    display: inline;
}

.self-text, 
.full-text, 
.training-text {
    text-decoration: none;
    display: inline;
    font-weight: bold;
    color: var(--links-text);
}

.magical--underline {
    cursor: pointer;
    background-image: linear-gradient(45deg, #f904cc 0%, rgb(125, 0, 142) 100%);
    background-repeat: no-repeat;
    background-size: 100% .1em;
    background-position: 0 95%;
    transition: background-size .25s linear, color .2s linear;
    text-decoration: none;
    padding: 2px;
    &:hover {
    color: #fff;
      
      background-size: 100% 95%;
    }
  }

.self-care-title,
.full-care-title,
.training-care-title {
    font-weight: bolder;
    text-decoration: underline;
    text-underline-offset: .5rem;
}

.self-care-desc,
.full-care-desc,
.training-care-desc {
    font-size: 1.1rem;
}

.boarding-contact {
    color: var(--links-text);
    cursor: pointer;
    font-weight: bolder;
}