:root {
    --contact-bg: #ffc4d6;
}

#contact {
    font-family: 'Playpen Sans', cursive;
    background-color: var(--contact-bg);
}

.name {
    display: block;
    margin: auto;
}

.email {
    display: block;
    margin: auto;
}

.message {
    display: block;
    margin: auto;
}

.contact-submit {
    display: block;
    margin: auto;
    border-radius: .5rem;
}

.contact-submit:hover {

}