:root {
    --picture-text: white;
}

/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
}

.hero_desc {
    font-size: 2rem;
    font-family: 'Playpen Sans', cursive;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--picture-text);
}

.hero-text h2 {
    color: #fff;
    font-family: 'Playpen Sans', cursive;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .03em; /* Adjust as needed */
    animation: 
      typing 4s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  @media screen and (max-width: 1024px) {
    .hero_title {
        font-size: 3rem;
    }

    .hero_desc {
        font-size: 1.5rem;
    }
  }

  @media screen and (max-width: 768px) {
    .hero_title {
        font-size: 2.5rem;
    }

    .hero_desc {
        font-size: 1rem;
    }
  }

  @media screen and (max-width: 425px) {
    .hero_title {
        font-size: 2rem;
    }

    .hero_desc {
        font-size: 1rem;
    }
  }