:root {
    --background: #272727;
    --active-text: black;
}

#header {
    background-color: var(--background);
}

.navbar-brand {
    display: flex;
}

.nav-title {
    align-items: center;
    display: flex;
    font-size: 60px;
    font-family: 'Dancing Script', cursive;
    text-transform: none;
    background-color: transparent;
}

.navbar-nav {
    margin: auto;
}

.navbar-toggler {
    margin: auto;
}

.nav-link {
    color: var(--navbar) !important;
    text-decoration: none;
    margin: auto;
    font-size: 20px;
    font-family: 'Playpen Sans', cursive;
}

.nav-tabs .nav-link.active {
    background-color: var(--active-text);
}