.double-door-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 100vw;
    height: 100vh;
  }

.door {
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    transition: transform 1.2s ease-in-out;
    transform-origin: 0% 50%;
}

.left-door {
    background-color: #3498db;
    left: 0;
}

.right-door {
    background-color: #e74c3c;
    right: 0;
}

.double-door-container.open .left-door {
    transform: rotateY(90deg);
    transform-origin: 0% 50%;
  }
  
  .double-door-container.open .right-door {
    transform: rotateY(-90deg);
    transform-origin: 100% 50%;
  }
  

.toggle-button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}

.toggle-button:hover {
    background-color: #27ae60;
}